body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #111111;
}

.container {
    max-width: 1620px;
    padding-inline: 10px;
    margin: 0 auto;
}

.admin__title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ffbb54;
}

.admin-panel__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-panel__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}








